<html>
<head>
    <title>Vue</title>
    <script src="/javascripts/my_functions.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
<img src="/images/nika.jpeg"/>



</body>
</html>
